<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	>
	
	<bean id="evtHeartBeat" class="com.yuntongxun.mcm.mcm.quartz.EvtHeartBeatQuartz">
		 <property name="rmServerRequestService" ref="rmServerRequestService" />
	</bean>
	 
	<bean id="evtHeartBeatTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject" ref="evtHeartBeat"></property>
	    <property name="targetMethod" value="sendHeartBeat"></property>
	    <!-- 是否并发,false表示 如果发生错误也不影响下一次的调用 -->
		<property name="concurrent" value="false"></property>
	</bean>
	 
	<bean id="timeTigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="evtHeartBeatTask"></property>
	    <property name="cronExpression">
	        <value>0 */1 * * * ?</value>
	    </property>
	</bean>
	 
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	            <ref bean="timeTigger" />
	        </list>
	    </property>
	</bean>
	
</beans>
